.tu-m {
  &l {
    &-1 {
      margin-left: 10px;
    }
    &-2 {
      margin-left: 25px;
    }
    &-3 {
      margin-left: 40px;
    }
    &-4 {
      margin-left: 65px;
    }
    &-5 {
      margin-left: 90px;
    }
  }
}
